
.btnCadaster{
    color: var(--White);
    margin: 0  8%;
    background:none ;
    border: none;
    font-weight: bold;
}


.modal{

    --bs-modal-width: 880px !important;
    --bs-modal-bg: var(--gray-800) !important;
    --bs-modal-header-border-color: none !important;
    --bs-modal-footer-border-color: none !important;
    --bs-modal-padding: none !important;
    
}

.grade{
    display: flex !important;
}

.leftGrade{
    text-align: left;
    display: flex !important ;
}
.leftGrade img{
    width: 28rem;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.rightGrade{
    width: 100% ;
    text-align: center;
    margin: 0 3%;
}
.logo{
    margin-bottom: 5%;
    font-size: 40px;
    font-weight: bold;
}
.areaRegister{
    width: 100%;
    margin: 3% 0;

}
.rightGrade p{
    margin-left: 1%;
    margin-bottom: 0.7rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}

.rightGrade input{
    width: 100%;
    padding: 2%;
    color: var(--gray-100);
    background-color: var(--gray-800);
    border: none;
    border-bottom: 2px solid #1f65c185;

}
.alert {    
    display: none;
}
.rightGrade input:focus{
    color: var(--White);
}
.rightGrade > div > button{
    width: 50%;
    margin: 4% 0;
    padding: 1rem ;
    color: var(--White);
    font-size:  1.1rem;
    font-weight: bold;
    background-color:#1f65c1be ;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.699);

}
.rightGrade > div > button:hover{
    font-weight: bold;
    background-color:#257df0c4 ;
    transition: 2s;
}
.closeBtn{
    cursor: pointer;
    text-align: right;
    font-size: 32px;
    color: #ff0000;
    display: block;
    background-color: transparent;
}
